Create table animal(
  id integer primary key AUTOINCREMENT,
  id_animal varchar (20) not NULL,
  raca varchar (20) NOT NULL,
  nascimento varchar (8) NOT NULL,
  alergias varchar (50) not NULL,
  sexo varchar (9) NOT NULL,
  porte varchar (7) NOT NULL,
  Carteira_vacinacao varchar (70) NOT NULL
	 ),
  
 INSERT INTO animal( id_animal, raca, nascimento, alergias, sexo, porte, Carteira_vacinacao,)
 VALUES
  ('589734589734', 'pitbul', '20/10/2000', 'alergia a pileto', 'masculino', 'grande', '8652416'),
  
select * from animal

CREATE TABLE agenda_consulta(
  id integer PRIMARY KEY AUTOINCREMENT,
  medicamento varchar (40) not NULL,
  exame varchar (90) not NULL,
  relatorio varchar (200) not NULL,
  data varchar (10not NULL,
  horario varchar (5),
  nome_veterinario (20),
  animal_id (20),
  veterinario_id (20)
  	),
    
 INSERT into agenda_consulta( 'pileto', 'bexiga', 'fez exame da bexiga', '10/0/2000', '20:20', 'claudio', '53321', '656621'),
  
SELECT *FROM agenda_cunsulta
